server_prefix = "LAB-git-workshop"
server_location = "westeurope"
server_trigram = "qlm"

server_count = 2

user = "workshop-user"
password = "changeme"

personal_image = "ubuntu-workshop-image-v3"
personal_image_rg = "CodeToCloud-QLE"

